anyio==3.6.1
asgiref==3.5.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
bleach==5.0.1
breezy==3.0.2
certifi==2022.6.15
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-log==0.4.0
colorama==0.4.5
configobj==5.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
Cython==0.29.28
dbus-python==1.2.16
deprecation==2.1.0
Django==4.0.5
django-cors-headers==3.13.0
django-rest-framework==0.1.0
djangorestframework==3.13.1
docutils==0.18.1
dotty-dict==1.3.0
dulwich==0.19.15
fastimport==0.9.8
gitdb==4.0.9
GitPython==3.1.27
gotrue==0.5.0
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.21.3
idna==3.3
importlib-metadata==4.12.0
inflection==0.5.1
invoke==1.7.1
itypes==1.2.0
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.6.0
MarkupSafe==2.1.1
packaging==21.3
pkginfo==1.8.3
postgrest-py==0.10.2
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
PyGObject==3.36.0
pyparsing==3.0.9
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-dotenv==0.20.0
python-gitlab==3.6.0
python-semantic-release==7.28.1
pytz==2022.1
PyYAML==5.3.1
readme-renderer==35.0
realtime==0.0.4
requests==2.28.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
SecretStorage==3.3.2
semver==2.13.0
setuptools-scm==7.0.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sqlparse==0.4.2
storage3==0.3.4
supabase==0.5.8
toml==0.10.2
tomli==2.0.1
tomlkit==0.10.2
tqdm==4.64.0
twine==3.8.0
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
webencodings==0.5.1
websockets==9.1
zipp==3.8.0
